.hero {
    display: flex;
    flex-direction: column;

    background: rgba(18, 18, 18, 0.96);

    border: 1px solid rgba(185, 255, 157, 0.25);
    border-radius: 16px;

    padding: 12px;

    box-shadow:
        0 0 35px rgba(0, 0, 0, 0.75),
        inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}

.banner {
    display: block;

    width: 100%;
    max-width: 951px;

    object-fit: cover;
    object-position: center;

    border-radius: 12px;

    border: 1px solid rgba(185, 255, 157, 0.22);

    box-shadow:
        0 10px 28px rgba(0, 0, 0, 0.50),
        0 0 20px rgba(185, 255, 157, 0.08);
}

/* Yläbanneri */
.banner-top {
    height: 110px;
    margin-bottom: 12px;
}

/* Alabanneri */
.banner-bottom {
    height: 110px;
    margin-top: 14px;
}

.hero-title {
    padding: 6px 8px 8px;
    text-align: center;
}

.hero-title h1 {
    margin: 0 0 10px;

    font-family: "Metal Mania", Arial, sans-serif;
    font-size: clamp(3rem, 8vw, 5.5rem);
    font-weight: 400;

    text-transform: uppercase;
    letter-spacing: 0.08em;

    color: #b9ff9d;

    text-shadow:
        0 0 8px rgba(185, 255, 157, 0.7),
        0 0 24px rgba(185, 255, 157, 0.35);
}

.hero-title p,
.intro-text {
    max-width: 760px;
    max-height: 165px;

    margin: 0 auto;
    padding: 14px 16px;

    overflow-y: auto;

    color: #d8d8d8;
    background: rgba(0, 0, 0, 0.24);

    border: 1px solid rgba(185, 255, 157, 0.16);
    border-radius: 12px;

    font-size: 0.96rem;
    line-height: 1.55;

    text-align: center;

    white-space: pre-line;
}

/* Postaukset alkavat lähempää */
.main-content {
    margin-top: 16px;
}
